// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #586BA4;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #343C44;
$light-gray: #F4F4F4;
$medium-gray: #DCDCDC;

$orange: #DB665E;

$headers-color: #36413E;

$secondary-color: #4D605F;
