.about-page-container-large {
  max-width: 650px;
  margin: 40px auto;
  min-width: 350px;
}

.about-image-large {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


// SMALL SCREEN //

.about-page-container-small {
  min-width: 350px;
  margin: 40px auto;
  max-width: 350px;
}
