.secondary-page-container {
  max-width: 650px;
  margin: 40px auto;
}
.secondary-page-header {
  margin-top: 80px;
  color: $headers-color;
}
.secondary-page-container-small {
  padding-left: 40px;
}
