.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  width: 650px;
  margin: 80px auto;
}

.large-logo {
  color: $headers-color;
  h2 {
    font-size: 60px;
  }
  h3 {
    font-size: 52px;
  }
}

.large-logo-top {
  margin: 0;
}
.large-logo-bottom {
  margin: 0;
}

.header-tabs {
  text-decoration: none;
  color: $headers-color;
  &:hover {
    text-decoration: none;
    color: $headers-color;
  }
}
