<div class="contact-form-container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">

      <form action="https://formspree.io/maddiemdrake@gmail.com" method="POST" class="contact-me-form">
        <input type="text" name="name" placeholder="Your name" class="form-control transparent-input" autocomplete="off">
        <input type="email" name="_replyto" placeholder="Your email" class="form-control transparent-input" autocomplete="off">
        <textarea type="textarea" name="message" placeholder="Your message" class="form-control transparent-input"></textarea>
        <input type="submit" value="SEND" class="form-control submit-button">
      </form>

    </div>
  </div>
</div>
