<%= render 'shared/header' %>

<div class="about-page-container-large hidden-xs">
  <h3 class="secondary-page-header text-center">About</h3>
  <div class="about-avatar-large">
    <%= image_tag "maddie-smiling", width: 300 %>
  </div>
  <div class="about-image-large">
    <%= image_tag "maddie 2", width: 600 %>
  </div>
</div>

<div class="about-page-container-small hidden-sm hidden-md hidden-lg">
  <h3 class="secondary-page-header-small text-center">About</h3>
</div>

<%= render 'shared/footer' %>
