<%= render 'shared/header' %>

<div class="secondary-page-container hidden-xs">
  <div class="secondary-page-header">
    <h3>About</h3>
  </div>

  <div class="about-content">
    <p>I'm Maddie and I'm a cheese addict</p>
  </div>
</div>

<div class="secondary-page-container-small hidden-sm hidden-md hidden-lg">
  <div class="secondary-page-header">
    <h3>About</h3>
  </div>
</div>
