<%= render 'shared/header' %>

<div class="secondary-page-container hidden-xs">
  <% if user_signed_in? %>
    <% simple_form_for(post) do |f| %>
      <%= f.input :title,
                  required: true,
                  label: false,
                  placeholder: "title",
                  autofocus: true %>
      <%= f.input :content,
                  required: true,
                  label: false,
                  placeholder: "content",
                  autofocus: true %>
    <% end %>
  <% end %>

  <div class="secondary-page-header">
    <h3>Articles</h3>
  </div>

  <div class="article-content">
  </div>
</div>

<div class="secondary-page-container-small hidden-sm hidden-md hidden-lg">
  <div class="secondary-page-header">
    <h3>Articles</h3>
  </div>
</div>
