<div class="banner" style="background-image: url('https://images.pexels.com/photos/910213/pexels-photo-910213.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');">
  <%#= image_tag "banner.jpeg" %>

  <%= render 'shared/header' %>

</div>
